/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 1, 2015, 8:51:23 AM
    Author     : Student
*/

/***************************************
general
****************************************/
body{
    background-color: white;
    color: #999;
    font-family: 'open sans', sans-serif;
}

#wrapper{
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%
}

header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}
#logo{
    text-align: center;
    margin: 0;
}

h1 {
    font-family: 'Caveat Brush', cursive;
    margin: 15px 0;
    font-size: 1.75em;
}

h2 {
    font-size: 0.75em;
    margin: -5px 0 0;
    font-weight: normal;
}
h3 {
    margin: 0 0 1px 0;
}

/****************************************
nav
*****************************************/
nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}
nav ul {
    list-style: none;
    padding: 10px 0;
    margin: 0 10px;
}

nav li{
    display: inline-block
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}
/****************************************
footer
*****************************************/
footer{
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color: #ccc;
    clear: both;
}
.social-media-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

/****************************************
page portfolio
*****************************************/
#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: lightgray;
    color: #bdc3c7
}
#gallery li a p {
    margin: 0;
    padding: 5%;
    font-size: 0.95em;
    color: black;
}


/****************************************
about me page
*****************************************/
.profile-photo {
    display: block;
    max-width: 0 auto 30px;
    border-radius: 15%;
}

/****************************************
contact page
*****************************************/
.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}
.contact-info a{
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}
.contact-info li.mail a {
    background-image: url('../img/mail.png') ;
}

.contact-info li.twitter a {
    background-image: url('../img/twitter.png') ;
}
/****************************************
colors
****************************************/
a {
    color: #6ab47b;
}

header {
    background-color: lightblue;
}

h1, h2 {
    color: #fff
}

nav {
    background: teal;
}

nav a, nav a:visited {
    color: purple;
}

nav a.selected, nav a:hover {
    color: black;
}

/****************************************
media querie
****************************************/
@media screen and (min-width: 480px){
    #primary {
        width: 50%;
        float: left;
    }
    #secondary {
        width: 40%;
        float: right;
    }
    #gallery li{
        width: 28.3333%;
    }
    #gallery li:nth-child(4n){
        clear: left;
    }
    /*about page*/
    .profile-photo{
        float: left;
        margin: 0 5% 80px 0;
    }
}
@media screen and (min-width: 660px){
    /*nav*/
    nav{
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: right;
        width: 45%
}
#logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;  
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 0.8em;
    margin-bottom: 20px;
}
header {
    border-bottom: 5px solid black;
    margin-bottom: 60px;
}
}